@import url('https://fonts.googleapis.com/css?family=Roboto:900');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
/*
Main CSS
Author: Manjeet Panwar
Date: 2021
*/

body {
  background-color: black;
  overflow-x: hidden;
}

.navbar {
  background-color: rgba(0,0,0,0.5) !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 80%;
  z-index: 1;

}

.navbar-nav {
  align-items: center;
}

.nav-item {
  margin: 0 10px;
  font-weight: bolder; 
}


.hero-intro {
  width: 100%;
  z-index: -1;
  position: absolute; 
  background-image: url('../img/intro-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0px;
  left: 0;
  right: 0;
  height: 90vh;
  text-align: center;
  clear: both;
  overflow: hidden;
}

.textHolder {
  font-family: 'Roboto';
  color: white;
  margin-top: 35vh;
}

.textHolder h1 {
  font-weight: 600;
  font-size: 10vw;
  text-shadow: 5px -3px 6px rgba(0,0,0,0.5); 
}

.textHolder h2 {
  color: rgba(255,255,255,0.9);
  overflow: hidden;
  text-align: center;
  font-size: 3vw;
}

.textHolder h2:before,
.textHolder h2:after {
  background-color: rgba(255,255,255, 0.9);
  display: inline-block;
  content: '';
  height: 2px;
  position: relative;
  width: 5%;
  vertical-align: middle;
}

.textHolder h2:before {
  right: 0.5em;
}

.textHolder h2:after {
  left: 0.5em;
}

.social-footer {
  clear: both;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  height:9.5vh;
  overflow: hidden;
  background:  #333333;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 2.5vw;
  color: white;
  padding: 10px;
  
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}

.social-footer .social-footer-left .fa {
  font-size: 2.5vw;
  color: white;
  position: left;
}

.social-footer .social-footer-left {
  color: white;
  font-size: 2.5vw;
  position: relative;

}

#copyright-icon,
#copyright-icon ~ span {display: inline-block;}

.map-responsive{
  overflow:hidden;
  padding-bottom:40%;
  position: relative;
  height:0;
  margin-bottom: 5vh;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position: absolute;
}

.info-container .fa {
  font-size: 2rem;
  color: #fefefe;
  position: left;
}

.info-container {
  background-color: #333333;
  color: white;
  font-size: 1.6rem;
  float:left; 
}

#phone-icon,
#phone ~ span {display: inline-block;}

#address-icon,
#address ~ span {display: inline-block;}


.subnav {
  position: relative;
  float: left;
  background-color: red;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  background-color: red;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color:red ; 
} 

.subnav-content {
  display: none;
  position: absolute;
  background-color: #333333;
  width: 100%;
  z-index: 1;
  text-align: center;
  left: 0;
  top: 100%;
}

.subnav-content a {
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: red;
}

.subnav:hover .subnav-content {
  display: block;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  clear: both;
  
}

.column {
  text-align: center;
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  

}

@media screen and (max-width: 992px) {
  .column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media screen and (max-width: 992px) {
  .column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media screen and (max-width: 600px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* .contact {
  align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  clear: both;
  
}

@media screen and (max-width: 600px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: contact;
            flex-direction: contact;
  }
} */