<!--Responsive footer
Author: Manjeet Panwar
Date: 2021
-->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>


<footer class="social-footer">
    <div class="social-footer-left">
      <a title=""><i class="fa fa-copyright" id="copyright-icon" aria-hidden="true"></i>
        <span>Bombay Masala 2021</span>
      </a>  
    </div>
    
    <div class="social-footer-icons">
      <ul class="menu simple">
        <a href="https://www.facebook.com/bombaymasala127" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/bombay_massala/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <a href="https://www.ubereats.com/nz/palmerston-north/food-delivery/bombay-masala-authentic-indian-takeaway/10IQZTOFQiKQECdBc6795g?pl=JTdCJTIyYWRkcmVzcyUyMiUzQSUyMjI1JTIwTm90dGluZ2hhbSUyMEF2ZW51ZSUyMiUyQyUyMnJlZmVyZW5jZSUyMiUzQSUyMkVqa3lOU0JPYjNSMGFXNW5hR0Z0SUVGMlpXNTFaU3dnVFdGdVlYZGhkSFV0VjJGdVoyRnVkV2tnTkRReE1pd2dUbVYzSUZwbFlXeGhibVFpTUJJdUNoUUtFZ241WVVoaFIwMUFiUkY3WUVsYXVwRl9MaEFaS2hRS0VnbjFSeFp1UjAxQWJSR3VqU0JXQXF0aWZnJTIyJTJDJTIycmVmZXJlbmNlVHlwZSUyMiUzQSUyMmdvb2dsZV9wbGFjZXMlMjIlMkMlMjJsYXRpdHVkZSUyMiUzQS00MC4zNjg2NzgwNTYwNDAyOCUyQyUyMmxvbmdpdHVkZSUyMiUzQTE3NS41ODgyMTQxMDU3NTY0JTdE" target="_blank"><i class="fa fa-car" aria-hidden="true"></i></a>
        <a href="https://www.menulog.co.nz/restaurants-bombay-masala/menu" target="_blank"><i class="fa fa-cutlery" aria-hidden="true"></i></a>
      </ul>
    </div>
  </footer>
  
  