<!--Code for responisive Navigation
Author: Manjeet Panwar
Date: 2021
-->

<nav class="mb-1 navbar-expand-lg navbar-dark">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html" style="color: white; font-weight: bolder; font-size: large;">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/img/Menu.pdf" style="color:white; font-weight: bolder; font-size: large;" download="Menu">MENU</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="gallery.html" style="color:white; font-weight: bolder; font-size: large;">GALLERY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contactpage.php"style="color: white; font-weight: bolder; font-size: large;">CONTACT US</a>
            </li>
            <div class="subnav">
                <button class="subnavbtn">ORDER NOW </button>
                <div class="subnav-content">
                    <a target="_blank" href="https://www.ordermeal.co.nz/bombay-masala-palmerston-north/">Order Meal</a>
                    <br><a target="_blank" href="https://www.ubereats.com/nz/palmerston-north/food-delivery/bombay-masala-authentic-indian-takeaway/10IQZTOFQiKQECdBc6795g?
                    ad_id=459972050393&campaign_id=10969022531&gclid=Cj0KCQiA0rSABhDlARIsAJtjfCehLvvEgXKPdpOX5yXzAXo3mZGnTv3ebnR5sfqF2fCtZQLAC7yLqGcaAojOEALw_wcB&gclsrc=aw.ds&kw=&kwid=dsa-943554603986&pl=JTdCJTIyYWRkcmVzcyUyMiUzQSUyMjI1JTIwTm90dGluZ2hhbSUyMEF2ZW51ZSUyMiUyQyUyMnJlZmVyZW5jZSUyMiUzQSUyMkVqa3lOU0JPYjNSMGFXNW5hR0Z0SUVGMlpXNTFaU3dnVFdGdVlYZGhkSFV0VjJGdVoyRnVkV2tnTkRReE1pd2dUbVYzSUZwbFlXeGhibVFpTUJJdUNoUUtFZ241WVVoaFIwMUFiUkY3WUVsYXVwRl9MaEFaS2hRS0VnbjFSeFp1UjAxQWJSR3VqU0JXQXF0aWZnJTIyJTJDJTIycmVmZXJlbmNlVHlwZSUyMiUzQSUyMmdvb2dsZV9wbGFjZXMlMjIlMkMlMjJsYXRpdHVkZSUyMiUzQS00MC4zNjg2NzgwNTYwNDAyOCUyQyUyMmxvbmdpdHVkZSUyMiUzQTE3NS41ODgyMTQxMDU3NTY0JTdE&placement=&utm_campaign=CM2049475-search-
                    google-nonbrand_126_-99_NZ-National_e_all_acq_cpc_en_DSA_Exact__dsa-943554603986_459972050393_110690371914_b_c&utm_source=AdWords_NonBrand">
                    UBEREATS</a>
                    <br><a target="_blank" href="https://www.menulog.co.nz/restaurants-bombay-masala/menu">Menulog</a>
                </div>

            </div>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4"></div>
</nav>